section.contact
    .contact__form
        h1 Contact Us
        p Please use the form below to contact us
        form(action="#", method="post")#contact
            .contact__form__group
                label Name
                input(type="text", placeholder="Enter Name")
            .contact__form__group
                label Email
                input(type="text", placeholder="Enter Email")
            .contact__form__group
                label Phone Number
                input(type="text", placeholder="Enter Phone Number")
            .contact__form__group
                label Message
                textarea(name="", cols="30", rows="10",placeholder="Enter Message")
            button(type="submit") Send Email
        
    .contact__map.map
        