header.header
    .heroWrapper
        h2.header__title The Sky Is The Limit
        p.header__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae voluptatibus debitis praesentium inventore, eum deserunt.
        |
        |
        a(href="#").header__button  Read More