nav.navbar
    h1.navbar__logo
        i(class="fab fa-buffer")
        span.navbar__logo__colored Edge 
        | Ledger
    ul.navbar__list
        li.navbar__list--item 
            a(href="#" class="navbar__list--links") Home
        li.navbar__list--item 
            a(href="#wedo" class="navbar__list--links") What
        li.navbar__list--item 
            a(href="#weare" class="navbar__list--links") Who
        li.navbar__list--item 
            a(href="#contact" class="navbar__list--links") Contact