section.weare#weare
    .weare__team
        img(src="img/people.jpg").weare__team--image
    .weare__description
        h2
            span Who 
            | We Are
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora culpa harum voluptas ratione enim consequuntur illo, atque, aut doloribus unde repellendus sit delectus beatae aspernatur placeat corrupti. Ipsa, itaque quas.
        h3 Our Team
        ul.weare__description__list
            li.weare__description__list--item Mark Smith: CEO
            li.weare__description__list--item Shannon Johnson: CFO
            li.weare__description__list--item John Corbit: Lead Accountant
            li.weare__description__list--item Janet Williams: Investment Manager
            li.weare__description__list--item Kara Jackson: Senior Accountant