section.wedo#wedo
    .container
        h2.wedo__title 
            span What 
            | We Do
        .wedo__box
            .wedo__box__offers
                .wedo__box__offers__icon
                    i(class="fas fa-university fa-2x")
                .wedo__box__offers__description
                    h2 Investment Banking
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, voluptatum!
            .wedo__box__offers
                .wedo__box__offers__icon
                    i(class="fas fa-book-reader fa-2x")
                .wedo__box__offers__description
                    h2 Portfolio Management
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, voluptatum!
            .wedo__box__offers
                .wedo__box__offers__icon
                    i(class="fas fa-pencil-alt fa-2x")
                .wedo__box__offers__description
                    h2 Tax & Custodial
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, voluptatum!
